<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/desafioA01/src/styles.css">
  
  <link rel="icon" type="image/png" sizes="32x32" href="./assets/images/favicon-32x32.png">
  
  <title>Frontend Mentor | News homepage</title>
  <style>
    .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
  </style>
</head>
<body>
    <app-cabezera></app-cabezera>
    <app-contenedor1></app-contenedor1>
    <app-contenedor2></app-contenedor2>
    <app-contenedor3></app-contenedor3>
  
  
    




 <!--  fin componente 4-->
  
  
</body>
</html>